language: python
cache: pip

matrix:
  fast_finish: true
  include:
    - python: 3.8
      env: TOXENV=lint
    - python: 3.8
    - python: 3.7
    - python: 3.6

install:
  - pip install -U pip
  - pip install -U tox-travis

script:
  - tox
